:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


// debug
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // tolgo lo stile a tutte le liste presenti
  list-style-type: none;
  // tolgo le decorazioni del testo(sottolineatura e colore dei link), presente di default, in tutti i tag link
  text-decoration: none;
}

img {
  display: block;
}


// colorazioni
$white: #FFFFFF;
$lightpink: #F9F1F2;
$lilla: #F2EEF4;
$lightpurple: #F0EDF5;
$purple: #55328B;


// button
.btn-white,
.btn-purple {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
}

.btn-white {
  background-color: white;
  color: $purple;
}

.btn-white:hover {
  cursor: pointer;
  background-color: $purple;
  color: $lilla;
}

.btn-purple {
  background-color: $purple;
  color: $lightpurple;
}

.btn-purple:hover {
  cursor: pointer;
  background-color: $lightpurple;
  color: $purple;
}

// button per scorrere le immagini nella prima e nella terza sezione del main
.btn-left,
.btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  padding: 14px 6px;
  border: none;
  color: $lilla;
  background-color: $purple;
  opacity: 0.6;
  cursor: pointer;
}

.btn-left:hover,
.btn-right:hover {
  opacity: 1;
}

.btn-left {
  left: 0;
}

.btn-right {
  right: 0;
}


// classi per le descrizioni delle immagini in hover
.hidetext {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.15);
}